.puzImg1 {
  display: grid;
  grid-column: 1 / span 10;
  grid-row: 1 / span 10;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.restart {
  height: 5.555555555555555vw;
  width: 13.88888888888889vw;
  color: white;
  font-size: 3.4722222222222223vw;
  background-color: green;
  border-radius: 1.0416666666666667vw;
}

.next {
  height: 5.555555555555555vw;
  width: 13.88888888888889vw;
  color: white;
  font-size: 3.4722222222222223vw;
  background-color: green;
  border-radius: 1.0416666666666667vw;
}

.puz1 {
  display: grid;
  grid-template-columns: repeat(10, 6.3%);
  grid-template-rows: repeat(10, 10%);
  justify-content: center;
}

.hammer {
  grid-column: 3 / span 2;
  grid-row: 1;
  height: 2.7777777777777777vw;
  width: 5.555555555555555vw;
  margin-left: 3.8194444444444446vw;
  margin-top: 1.0416666666666667vw;
  opacity: 0;
}

.cuff {
  grid-column: 6;
  grid-row: 4 / span 2;
  width: 2.7777777777777777vw;
  height: 2.7777777777777777vw;
  margin-left: 4.513888888888889vw;
  margin-top: 3.8194444444444446vw;
  opacity: 0;
}

.shoe {
  grid-column: 8 / span 2;
  grid-row: 1 / span 2;
  opacity: 0;
  width: 4.166666666666667vw;
  height: 4.166666666666667vw;
  margin-left: 3.8194444444444446vw;
  margin-top: 1.7361111111111112vw;
}

.spoon {
  grid-column: 8;
  grid-row: 9 / span 2;
  opacity: 0;
  height: 5.902777777777778vw;
  width: 2.7777777777777777vw;
  margin-top: 1.3888888888888888vw;
  margin-left: 3.125vw;
}

.bullet {
  grid-column: 3 / span 2;
  grid-row: 9 / span 2;
  opacity: 0;
  height: 2.7777777777777777vw;
  width: 3.4722222222222223vw;
  margin-top: 2.4305555555555554vw;
  margin-left: 4.861111111111111vw;
}

.scissors {
  grid-column: 10;
  grid-row: 8 / span 2;
  opacity: 0;
  width: 2.7777777777777777vw;
  height: 5.555555555555555vw;
  margin-left: 2.7777777777777777vw;
  margin-top: 1.7361111111111112vw;
}

.kitten {
  grid-column: 4 / span 2;
  grid-row: 5;
  opacity: 0;
  width: 3.4722222222222223vw;
  height: 2.4305555555555554vw;
  margin-left: 4.513888888888889vw;
  margin-top: 1.7361111111111112vw;
}

.key {
  grid-column: 10;
  grid-row: 6 / span 2;
  opacity: 0;
  height: 4.861111111111111vw;
  width: 2.0833333333333335vw;
  margin-left: 4.166666666666667vw;
  margin-top: 2.0833333333333335vw;
}

.hshoe {
  grid-column: 3;
  grid-row: 2 / span 2;
  opacity: 0;
  height: 3.4722222222222223vw;
  width: 3.4722222222222223vw;
  margin-left: 2.0833333333333335vw;
  margin-top: 2.0833333333333335vw;
}

.dove {
  grid-row: 2;
  grid-column: 10;
  opacity: 0;
  width: 2.0833333333333335vw;
  height: 2.4305555555555554vw;
  margin-left: 4.305555555555555vw;
  margin-top: 2.0833333333333335vw;
}

.words {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
}
