.puzImg3 {
  display: grid;
  grid-column: 1 / span 10;
  grid-row: 1 / span 10;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.restart {
  height: 5.555555555555555vw;
  width: 13.88888888888889vw;
  color: white;
  font-size: 3.4722222222222223vw;
  background-color: green;
  border-radius: 1.0416666666666667vw;
}

.next {
  height: 5.555555555555555vw;
  width: 13.88888888888889vw;
  color: white;
  font-size: 3.4722222222222223vw;
  background-color: green;
  border-radius: 1.0416666666666667vw;
}

.puz3 {
  display: grid;
  grid-template-columns: repeat(10, 6.3%);
  grid-template-rows: repeat(10, 10%);
  justify-content: center;
}

.fishHook {
  grid-column: 1;
  grid-row: 2 / span 2;
  height: 5.555555555555555vw;
  width: 3.4722222222222223vw;
  margin-left: 1.3888888888888888vw;
  margin-top: 2.0833333333333335vw;
  opacity: 0;
}

.smokingPipe {
  grid-column: 1;
  grid-row: 6;
  height: 3.4722222222222223vw;
  width: 4.861111111111111vw;
  margin-left: 1.3888888888888888vw;
  margin-top: 0.3472222222222222vw;
  opacity: 0;
}

.flute {
  grid-column: 4;
  grid-row: 6 / span 4;
  height: 13.88888888888889vw;
  width: 3.4722222222222223vw;
  margin-left: 1.3888888888888888vw;
  margin-top: 0.3472222222222222vw;
  opacity: 0;
}

.handPrint {
  grid-column: 5 / span 2;
  grid-row: 9 / span 2;
  height: 5.555555555555555vw;
  width: 5.555555555555555vw;
  margin-left: 4.861111111111111vw;
  margin-top: 2.7777777777777777vw;
  opacity: 0;
}

.spider {
  grid-column: 10;
  grid-row: 5 / span 2;
  height: 4.861111111111111vw;
  width: 3.4722222222222223vw;
  margin-left: 2.0833333333333335vw;
  margin-top: 0.6944444444444444vw;
  opacity: 0;
}

.wishBone {
  grid-column: 9;
  grid-row: 3 / span 2;
  height: 4.861111111111111vw;
  width: 4.166666666666667vw;
  margin-left: 1.3888888888888888vw;
  margin-top: 0.3472222222222222vw;
  opacity: 0;
}

.cane {
  grid-column: 7 / span 2;
  grid-row: 5 / span 4;
  height: 13.88888888888889vw;
  width: 4.166666666666667vw;
  margin-left: 3.4722222222222223vw;
  margin-top: 2.4305555555555554vw;
  opacity: 0;
}

.glue {
  grid-column: 5 / span 2;
  grid-row: 6 / span 2;
  height: 4.166666666666667vw;
  width: 2.7777777777777777vw;
  margin-left: 5.555555555555555vw;
  margin-top: 1.0416666666666667vw;
  opacity: 0;
}

.cat {
  grid-column: 8 / span 2;
  grid-row: 7 / span 2;
  height: 6.944444444444445vw;
  width: 5.555555555555555vw;
  margin-left: 4.861111111111111vw;
  margin-top: 2.0833333333333335vw;
  opacity: 0;
}

.horn {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  height: 6.944444444444445vw;
  width: 5.555555555555555vw;
  margin-left: 4.513888888888889vw;
  opacity: 0;
}

.words {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
}
