.App {
  text-align: center;
}

p {
  font-size: 1.1111111111111112vw;
}

h1 {
  font-size: 2.2222222222222223vw;
}

.homepage {
  background-color: #5cc9dd;
  align-items: center;
  background-image: url(./PuzzleImages/homepage.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 59.02777777777778vw, cover;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.objective {
  color: white;
  text-align: center;
  width: 34.72222222222222vw;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: 38.19444444444444vw;
  margin-top: 9.86111111111111vw;
  padding-top: 3.4722222222222223vw;
  margin-bottom: auto;
  width: 38.888888888888886vw;
  height: 20.833333333333332vw;
  border-radius: 100%;
}
